# Зависимости
node_modules/
.pnp
.pnp.js

# Сборка
/build
/dist

# Логи
*.log
npm-debug.log*

# Системные файлы
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Env
.env
.env.local
.env.development.local
.env.test.local
.env.production.local